.brand {
  color: white;
  background-color: #e60012;
  padding: 18px;
  width: 100px;
}
nav .right a {
  color: #434242;
  text-decoration: none;
}
nav .left input:focus {
  outline: none;
  border: none;
}
nav .left select {
  font-weight: 500;
  font-size: 14px;
}
nav .left input::placeholder {
  font-size: 14px;
}
nav .right svg,
nav .right a {
  font-weight: 500;
  font-size: 14px;
  color: #434242;
}
.menu button {
  display: flex;
  align-items: center;
  border: none;
  background-color: inherit;
  color: #434242;
  font-size: 0.875rem;
  font-weight: 600;
}
.menu {
  display: flex;
  justify-content: center;
  padding: 0.7rem 0;
}
.menu button svg:last-of-type {
  margin-top: 3px;
}
.menu button {
  margin-left: 25px;
}
.custom-banner {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f8f9fa;
}
.custom-banner img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.custom-banner a {
  margin-left: 1px;
}
.custom-banner .right::before {
  content: "";
  width: 1px;
  height: 100%;
  background-color: black;
  display: block;
  position: absolute; /* اضافه کردن این خط */
  left: 10px; /* موقعیت خط از سمت چپ */
  top: 0; /* موقعیت خط از سمت بالا */
}
.custom-banner .right {
  position: relative;
}
.custom-banner svg {
  color: #e60012;
}
@media screen and (max-width: 1024px) {
  .menu {
    display: none;
  }
  .search {
    display: none;
  }
  .right a:not(:last-of-type) {
    display: none;
  }
  nav {
    background-color: #e60012;
  }
  .brand {
    width: 110px;
    height: 54px;
  }
  .store {
    display: none;
  }

  .custom-banner .right {
    display: none;
  }
  .copy-right .col-6 {
    width: 100% !important;
  }
  .country {
    display: none;
  }
  .copy-right {
    text-align: center;
  }
}
.Stardew-Valley a {
  text-decoration: none;
  color: #434242;
}
.Stardew-Valley {
  background-color: #d6f0fa;
}
.parent-image {
  position: relative;
}
.parent-image button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}
.parent-image button:first-of-type {
  left: 5%;
}
.parent-image button:last-of-type {
  left: 87%;
}
.parent-image:hover button {
  display: inline;
}
.parent-image button:focus {
  border: none;
  outline: none;
}
.esrb-rating {
  display: flex;
  align-items: start;
}
.esrb-rating img {
  width: 50px;
  height: auto;
  margin-right: 20px;
}
.esrb-content {
  border-top: 1px solid #000;
}
.esrb-content p {
  color: #434242;
}
.line {
  width: 2px;
  height: 20px;
  background-color: #e60012;
  display: block;
  top: 1px;
  position: absolute;
}
.Stardew,
.money {
  font-size: 28px;
  color: #434242;
}
.money {
  font-weight: 700;
}
.heart {
  width: 3rem;
  height: 3rem;
}
.add-cart,
.explore {
  background-color: #e60012;
  color: white;
  border: none;
}
.explore-section h2 {
  font-size: 21px;
  color: #434242;
}
.explore-section p {
  color: #434242;
}
.explore-section a {
  color: #e60012;
  text-decoration: none;
  font-weight: 700;
}
.explore-section svg {
  width: 26px;
  height: 18px;
}
.explore-section p:last-of-type {
  font-size: 12px;
}
/* @media screen and (max-width:767px) {
  .Supported .col-3:not(.Supported .col-3:first-of-type){
    padding-left: 0;
  }
} */

.release-date-container {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.release-date-left {
  display: flex;
  align-items: center;
}
.release-date-icon {
  font-size: 24px;
  margin-right: 10px;
}
.release-date-text {
  font-weight: bold;
  margin-right: 10px;
}
.release-date-date {
  flex-grow: 1;
  text-align: center;
}
.release-date-text {
  font-size: 17px;
  color: #434242;
  margin-top: 5px;
}
@media (max-width: 767px) {
  .release-date-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .release-date-date {
    text-align: left;
    margin-top: 10px;
    margin-left: 2.3rem;
  }
}
.release-date-container a {
  color: #e60012;
}
.contact-us {
  background-color: #e60012;
}
.contact-us div:first-child svg {
  width: 200%;
  height: 100%;
  /* display: block; */
  /* box-sizing: border-box; */
}
.contact-us div:first-child {
  margin-right: 72px;
}
@media screen and (max-width: 767px) {
  .contact-us div:first-child {
    margin-right: 72px;
  }
}
footer a {
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline #e60012 2px;
}
footer .title-link {
  color: #434242;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 18px;
}
footer a:not(.title-link) {
  color: #e60012;
  margin-top: 7px;
  font-weight: 700;
}
.copy-right {
  background-color: #242424;
  color: white;
}
.copy-right a {
  color: white;
  text-decoration: none;
}
.copy-right p,
.copy-right a {
  font-size: 12px;
}
/* @keyframes slide {
  0%{
    transform: scale(1) ;
  }
  50%{
    transform: scale(1.3) translateX(150%);
  }
  100%{
    transform: scale(1);
  }
}
.parent-image{
  overflow: hidden !important;
} */
.cart:hover .cart-section {
  display: block;
}
.cart-section {
  width: 500%;
  display: none;
  background-color: #ccc;
  text-align: center;
  z-index: 100;
}
@keyframes cart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
