*,
body {
  font-family: "GT America Standard", sans-serif;
}
.container .row div p {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  width: 85%;
}
.container .row div a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
}
.container .row div img {
  width: 84.94px;
  height: 84.94px;
}
.search-section {
  background-color: #dadbf1;
  padding-top: 80px;
  padding-bottom: 115px;
}
.container {
  margin-top: 150px;
}
.container .row div {
  margin-bottom: 3rem;
}
a {
  text-decoration: none !important;
}
.search-section h1 {
  font-size: 80px;
  letter-spacing: -1px;
  color: #000000;
  font-family: "GT America Standard", sans-serif;
}
.arrow-svg {
  width: 28px;
  height: 36.23px;
}
svg:not(:root) {
  overflow: hidden;
}
.header {
  padding: 1.8rem 6rem;
}
.header div:last-child a:last-child {
  background-color: #4c5fd5;
  color: #fff;
  border: 1px solid #4c5fd5;
  transition: 0.4s ease;
}
.header div:last-child a {
  font-size: 24px;
}
.header div:last-child a:first-child {
  border: 1px solid white;
}
.header div:last-child a:last-child:hover {
  background-color: #fff;
  color: rgb(33, 37, 41);
  border: 1px solid #fff;
}
.search-section input:focus {
  outline: none;
  border: none;
}
.search-section div {
  border: 1px solid #000000;
  width: 53.4%;
}
.search-section div:hover {
  border-color: #4c5fd5;
}
.search-section div:hover .arrow-svg {
  fill: #4c5fd5;
}
.search-section input::placeholder {
  font-size: 18px;
  font-weight: 600;
}
.search-section input {
  font-size: 20px;
  font-weight: 400;
  padding-top: 1.127rem;
  padding-bottom: 1.127rem;
}
.column h3 {
  font-size: 24px;
}
.column a {
  color: white;
}
footer p {
  font-size: 20px;
  margin-top: -15px;
}
footer h3 {
  font-weight: bold;
}
footer .column:first-child {
  margin-left: 6rem;
}
.copyright {
  margin-right: 6rem;
}
@media only screen and (max-width: 991px) {
  footer .column:first-child {
    margin-left: 0rem;
  }
  .copyright {
    margin-right: 0;
  }
}
