.navbar a {
  color: black;
  text-decoration: none;
}
@media screen and (max-width: 789px) {
  .gift-cards,
  .menu,
  .rewards,
  .Join-now,
  .Sign-in,
  .find {
    display: none;
  }
  .navbar-toggler {
    display: block !important;
  }
}
.navbar-toggler {
  display: none;
}
@media screen and (max-width: 767px) {
  .Starbucks-Rewards h1 {
    margin-left: 1rem;
  }
  .Starbucks-Rewards a {
    margin-right: 1rem;
  }
  .navbar svg:first-of-type {
    width: 40px;
    height: 40px;
  }
  .get-start p:not(:nth-child(2)) {
    margin-left: 4.5rem;
  }
}
@media screen and (min-width: 768px) {
  .Starbucks-Rewards h1 {
    margin-left: 8rem;
  }
  .navbar svg:first-of-type {
    width: 51px;
    height: 51px;
  }
}
a {
  text-decoration: none !important;
}
.get-start h3 {
  font-size: 19px;
}
.get-start a {
  color: #008752;
  text-decoration: underline !important;
}
.favorites .header {
  background-color: #f1f8f5;
}
.favorites .description {
  background-color: #d4e9e2;
}
.favorites .header h2 {
  font-size: 28px;
}
.favorites .description h3 {
  font-size: 24px;
}
.favorites .description img {
  width: 375px;
  height: 211px;
}
.star {
  color: #cba258;
  font-size: 16px;
  margin-left: -7px;
}
.favorites .rating .number {
  font-size: 24px;
}
.Starbucks-Rewards {
  position: sticky;
}
@media screen and (max-width: 767px) {
  .description h3 {
    font-size: 19px !important;
  }
  .extras h3 {
    font-size: 16px !important;
  }
  .coming .container-fluid img {
    width: 112px !important;
    height: 49.98px !important;
  }
  .Questions {
    padding-left: 1rem !important;
  }
}
.description h3 {
  font-size: 24px;
}
.extras img {
  width: 112px;
  height: 112px;
}
.extras h3 {
  font-size: 19px;
}
.extras a {
  text-decoration: underline !important;
  color: #186966;
  font-weight: 500;
}
/* .Starbucks-Rewards {
  position: sticky;
  top: 0; 
} */
.cash {
  background-color: #f2f0eb;
  margin-top: 8rem !important;
}
.cash .header h2 {
  font-size: 28px;
}
.cash .header p {
  font-weight: 400;
}
.cash img {
  width: 112px;
  height: 158px;
}
.cash h3 {
  font-size: 19px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cash .cash-card {
    width: 50% !important;
    margin: 20px 0 !important;
    padding: 0 !important;
  }
  .star-dollar {
    width: 100% !important;
  }
}
.coming {
  background-image: url(img/844262945b2a8b8cfb29.png);
}
.coming .container-fluid {
  background-color: #d4e9e2;
}
.coming .header h2 {
  font-size: 28px;
}
.coming .header p {
  font-weight: 500;
}
.coming a:not(.join-btn) {
  color: #008752;

  text-decoration: underline !important;
}
.join-btn {
  background-color: #158159;
}
.link-section a,
.accordion a {
  color: #00000094;
}
.link-section a:hover,
.accordion a:hover {
  color: #000000;
}
.contact-us a svg {
  color: #1e1e1e;
  margin-right: 10px;
}
.contact-us div a:hover {
  text-decoration: underline !important;
}
.contact-us div p {
  color: #00000094;
  font-size: 14px;
  font-weight: 500;
}
@media screen and (max-width: 1023px) {
  .link-section {
    display: none;
  }
  .accordion {
    display: block;
  }
}
@media screen and (min-width: 1024px) {
  .accordion {
    display: none;
  }
}
.accordion button {
  font-size: 19px;
  font-weight: 500;
}
